
.flash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flash {
    display: flex;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.flash.error {
    background: rgb(255, 235, 235);
    color: rgb(220, 20, 60);
    border: 1px solid rgb(220, 20, 60);  
}

.flash.success {
    background: rgb(189, 255, 216);
    color: rgb(0, 130, 11);
    border: 1px solid rgb(0, 130, 11);  
}

.flash.info {
    background: rgb(255, 252, 229);
    color: rgb(49, 49, 49);
    border: 1px solid rgb(49, 49, 49);
}

/* === Navbar === */

@media (min-width: 769px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        padding: 12px 20px;
        border-bottom: 1px solid #ddd;
    }

    .nav-right {
        display: flex;
        position: relative;

    }
  
    .nav-right a {
        margin-left: 20px;
        text-decoration: none;
        color: #333;
    }

    .hamburger {
        display: none;
        font-size: 26px;
        cursor: pointer;
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-right {
        display: none;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 60px;
        right: 20px;
        border: 1px solid #ddd;
        padding: 10px;
    }

    .nav-right.open {
        display: flex;
    }

    .nav-right a {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }
}





