
.flash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flash {
    display: flex;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.flash.error {
    background: rgb(255, 235, 235);
    color: rgb(220, 20, 60);
    border: 1px solid rgb(220, 20, 60);  
}

.flash.success {
    background: rgb(189, 255, 216);
    color: rgb(0, 130, 11);
    border: 1px solid rgb(0, 130, 11);  
}

.flash.info {
    background: rgb(255, 252, 229);
    color: rgb(49, 49, 49);
    border: 1px solid rgb(49, 49, 49);
}





