<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

    {% block styles %}{% endblock %}

</head>
<body>

    {% block flash_messages %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="flash-container">
                    <div class="flash {{ category }}" role="alert">{{ message }}</div>
                </div>               
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock %}

    {% if not hide_navbar %}
        <nav class="navbar">
            <div class="nav-left">
                <a href="/" class="logo">Home</a>
            </div>
        
            <div class="nav-right" id="nav-menu">
                <a href="{{ url_for('habits.dashboard') }}">Dashboard</a>
                <a href="{{ url_for('habits.reports', filter=1) }}">Relatórios</a>
                <a href="{{ url_for('auth.logout_user') }}">Sair</a>
            </div>
        
            <div class="hamburger" onclick="toggleMenu()">
                ☰
            </div>
        </nav>

        <script>
            function toggleMenu() {               
                const menu = document.getElementById('nav-menu');
                menu.classList.toggle('open');      
            }
        </script>
    {% endif %}
 
    {% block content %}
    {% endblock %} 
    
    {% block scripts %}
    
    {% endblock %}
</body>
</html>