{% extends "base.html" %}
    
{% block title %}dashboard{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}

  <div class="container">
    <h1>Bem-vindo(a), {{ session['name_user'] }}</h1>
    <h2>Seus Hábitos</h2>

    {% if habits %}
      <ul class="habit-list">
        {% for habit in habits %}
          <li class="habit-item">     
            <form action="{{ url_for('update_status_habit', id=habit['id']) }}" method="post">  
              <span>[Status: {{ '✔' if habit['status'] else '❌' }}] </span>
              <strong>{{ habit['title'] }}</strong> — {{ habit['description'] or 'Sem descrição' }}        
              <button type="submit" value=1 name="status"> Feito </button>
              <button type="submit" value=0 name="status"> Não feito</button>              
            </form> 
            <form action="{{ url_for('edit_habit', id=habit['id']) }}" method="get"> 
              <button type="submit">Editar</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Nenhum hábito cadastrado ainda.</p>
    {% endif %}

    <a href="{{ url_for('insert_habit') }}" class="btn">+ Adicionar hábito</a>
    <a href="{{ url_for('logout_user') }}" class="btn btn-logout">Sair</a>
  </div>
{% endblock content %}
