{% extends "base.html" %}
    
{% block title %}dashboard{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}

  <div class="container">
    <h1>Bem-vindo(a), {{ session['name_user'] }}</h1>
    <h2>Seus Hábitos</h2>


    {% if habits %}
      <ul class="habit-list">
        {% for habit in habits %}
          <li class="habit-item">     
            <form action="{{ url_for('habits.update_status_habit', id=habit['id']) }}" method="post">  
              <span>[Status: {{ '✔' if habit['status'] else '❌' }}] </span>
              <strong>{{ habit['title'] }}</strong> — {{ habit['description'] or 'Sem descrição' }}        
              <button type="submit" value=1 name="status"> Feito </button>
              <button type="submit" value=0 name="status"> Não feito</button>              
            </form> 
            <form action="{{ url_for('habits.edit_habit', id=habit['id']) }}" method="get"> 
              <button type="submit">Editar</button>
            </form>           
            <form action="{{ url_for('habits.delete_habit', id=habit['id']) }}" method="post">         
              <button type="button" data-id="{{ habit['id'] }}" class="btn-delete-habit">Excluir</button>
              <dialog id="deleteModal-{{ habit['id'] }}">
                <h3>Confirmar ação</h3>
                <p>Tem certeza que deseja excluir este hábito?</p>
            
                <div class="modal-actions">
                  <button type="submit" class="btn-confirm-delete-habit">Sim</button>
                  <button type="button" id="cancelModalBtn" class="btn-cancel-delete-habit">Não</button>
                </div>
              </dialog>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Nenhum hábito cadastrado ainda.</p>
    {% endif %}

    <a href="{{ url_for('habits.insert_habit') }}" class="btn">+ Adicionar hábito</a>
    <a href="{{ url_for('auth.logout_user') }}" class="btn btn-logout">Sair</a>
  </div>

{% endblock content %}

{% block scripts %}
  
  <script>
    const buttons = document.querySelectorAll(".btn-delete-habit");

    buttons.forEach(btn => {
      const habitId = btn.dataset.id;
      const modal = document.getElementById(`deleteModal-${habitId}`);
      const cancelBtn = modal.querySelector(".btn-cancel-delete-habit");

      btn.addEventListener("click", () => modal.showModal());
      cancelBtn.addEventListener("click", () => modal.close());
    });
  </script>
{% endblock %}


