
{% extends "base.html" %}
        
{% block title %}Registrar{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_habit.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    {% if habit %}
        <form action="{{ url_for('edit_habit', id=habit['id']) }}" method="post">
            <label for="title">Título:</label><br>
            <input type="text" id="title" name="title" value="{{ habit['title'] }}"><br>
            <label for="description">Descrição (opcional):</label><br>
            <input type="text" id="description" name="description" value="{{ habit['description'] }}">
            <br>
            <button type="submit">Salvar</button>            
        </form>
    {% else %}
        <p>Hábito não cadastrado encontrado.</p>
    {% endif %}
</div>

{% endblock content %}

