
  {% extends "base.html" %}
  
  {% block title %}Register{% endblock %}

  {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  {% endblock %}

  {% block content %}
    <div>  
          <div class="container">
            <div class="screen">
              <div class="screen__content">
                <form class="register" action="{{ url_for('auth.register_user') }}" method="post">

                  <div class="register__field">
                    <i class="register__icon fas fa-user"></i>
                    <input type="text" class="register__input" placeholder="Nome completo" name="name" id="name" required>
                  </div>
                  
                  <div class="register__field">
                    <i class="register__icon fas fa-envelope"></i>
                    <input type="text" class="register__input" placeholder="E-mail" name="email" id="email" required>
                  </div>

                  <div class="register__field">
                    <i class="register__icon fas fa-lock"></i>
                    <input type="password" class="register__input" placeholder="Senha" name="psw" id="psw" required minlength="6">
                    <p class="minimum-psw">(Mínimo de 6 caracteres)</p>
                  </div>

                  <div class="register__field">
                    <i class="register__icon fas fa-lock"></i>
                    <input type="password" class="register__input" placeholder="Repetir senha" name="psw-repeat" id="psw-repeat" required minlength="6">                   
                  </div>

                  <button class="button register__submit">
                    <span class="button__text">Registrar</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                  </button>	
                  
                  <div class="terms">    
                    <p>Ao criar uma conta, você concorda com nossos <a href="#"><span class="span-register">Termos e Privacidade.</span></a></p>
                  </div>
                  <div class="login">
                    <h3>Já tem uma conta? <a href="{{ url_for('auth.login_user')}}"><span class="span-register">Entrar.</span></a></h3>
                  </div>

                </form>
                
              </div>
              <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
              </div>		
            </div>
          </div>
    </div>   

  {% endblock %}
