
{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="container-logout">
            <a href="{{ url_for('auth.logout_user') }}" class="btn btn-logout">Sair</a>
        </div>

          <h1>Relatórios</h1>
          <h2>Seus Hábitos</h2>

    </div>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}