
{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reports.css') }}">
{% endblock %}

{% block content %}

    <div class="container">

      <div class="container-logout">
        <a href="{{ url_for('auth.logout_user') }}" class="btn btn-logout">Sair</a>
      </div>
  
      <h1>Relatórios</h1>
      <h2>Seus Hábitos</h2>

      <div class="container-btn">
        <a href="{{ url_for('habits.reports', filter=1) }}" class="btn btn-seven-days">Últimos 7 dias</a>
        <a href="{{ url_for('habits.reports', filter=2) }}" class="btn btn-fifteen-days">Últimos 15 dias</a>
        <a href="{{ url_for('habits.reports',  filter=3) }}" class="btn btn-thirty-days">Últimos 30 dias</a>
      </div>

      <h3>Hábitos Totais: {{ habits[0] }}</h3>
      <h3>Hábitos Concluídos: {{ habits[1] }}</h3>
      <h3>Hábitos Pendentes: {{ habits[2] }}</h3>
      <h3>Taxa de Conclusão: {{ habits[3] }}</h3>


    </div>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}