
{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reports.css') }}">
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}

    <div class="container">

      <div class="container-logout">
        <a href="{{ url_for('habits.dashboard') }}" class="btn btn-home">Home</a>
        <a href="{{ url_for('auth.logout_user') }}" class="btn btn-logout">Sair</a>
      </div>
  
      <h1>Relatório</h1>

      <div class="container-btn">
        <a href="{{ url_for('habits.reports', filter=1) }}" class="btn btn-seven-days">Últimos 7 dias</a>
        <a href="{{ url_for('habits.reports', filter=2) }}" class="btn btn-fifteen-days">Últimos 15 dias</a>
        <a href="{{ url_for('habits.reports',  filter=3) }}" class="btn btn-thirty-days">Últimos 30 dias</a>
      </div>

      
      <!--<h3>Hábitos Concluídos: {{ habits[1] }}</h3>
      <h3>Hábitos Pendentes: {{ habits[2] }}</h3>
      <h3>Taxa de Conclusão: {{ habits[3] }}</h3>-->

      <hr>

      <div class="canvas-div">
        <h3>Hábitos Totais: {{ habits[0] }}</h3>
        <div class="canvas-div-rate">
          <canvas id="rate" height="80"></canvas>
        </div>

        <div class="canvas-div-active-completed-habits">
          <canvas id="active-completed-habits"></canvas>
        </div>
      </div>

    </div>

{% endblock content %}

{% block scripts %}

  <script>


  const ctx = document.getElementById('active-completed-habits');

  let total_habits = {{ habits[2]|tojson|safe }};
  let completed_habits = {{ habits[1]|tojson|safe }};

  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['Hábitos Pendentes', 'Hábitos Concluídos'],
      datasets: [{
        label: '',
        data: [total_habits, completed_habits],
        borderWidth: 1
      }]
    },
    options: {
    }
  });

  const rate = document.getElementById('rate');
  let completion_rate = {{ habits[3]|tojson|safe }};

  new Chart(rate, {
    type: 'bar',
    data:{
      labels: [''],
      datasets: [{
          label: 'Taxa de conclusão %',         
          data: [completion_rate]
      }]
    },
    options: {
      indexAxis: 'y',
      scales: {
        x: {
            suggestedMin: 0,
            suggestedMax: 100
        },

      }
    },    
  });


  </script>

{% endblock scripts %}